<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="src/assets/main.css">
      <script defer src="src/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    <title>Vite App</title>
  </head>
  <body>
  <div id="app">
      <div class="board">
          <div class="column">
              <h2>Запланированные задачи</h2>
              <div class="cards">
                  <!-- Отображение карточек запланированных задач -->
                  <div v-for="card in plannedTasks" :key="card.id" class="card">
                      <div class="card-header">
                          <span class="timestamp">{{ card.lastEdited }}</span>
                          <button @click="editCard(card)">Редактировать</button>
                          <button @click="deleteCard(card)">Удалить</button>
                      </div>
                      <div class="card-content">
                          <h3>{{ card.title }}</h3>
                          <p>{{ card.description }}</p>
                          <p>Дедлайн: {{ card.deadline }}</p>
                      </div>
                      <button @click="moveToInProgress(card)">Переместить в работу</button>
                  </div>
              </div>
              <button class="btnopen" @click="openModal()">Создать задачу </button>
              <div id="addTaskModal" class="modal">
                  <div class="modal-content">
                      <span class="close" @click="closeModal">&times;</span>
                      <h2>Создать задачу</h2>
                      <form @submit.prevent="addCard">
                          <input v-model="newCardTitle" placeholder="Заголовок" required>
                          <input v-model="newCardDescription" placeholder="Описание" required>
                          <input type="date" v-model="newCardDeadline" @change="checkYear" required>
                          <button type="submit">Создать карточку</button>
                      </form>
                  </div>
              </div>
          </div>

          <div class="column">
              <h2>Задачи в работе</h2>
              <div class="cards">
                  <!-- Отображение карточек задач в процессе выполнения -->
                  <div v-for="card in inProgressTasks" :key="card.id" class="card">
                      <div class="card-header">
                          <span class="timestamp">{{ card.lastEdited }}</span>
                          <button @click="editCard(card)">Редактировать</button>
                      </div>
                      <div class="card-content">
                          <h3>{{ card.title }}</h3>
                          <p>{{ card.description }}</p>
                          <p>Дедлайн: {{ card.deadline }}</p>
                      </div>
                      <button @click="moveToTesting(card)">Переместить в тестирование</button>
                  </div>
              </div>
          </div>

          <div class="column">
              <h2>Тестирование</h2>
              <div class="cards">
                  <!-- Отображение карточек задач на тестировании -->
                  <div v-for="card in testingTasks" :key="card.id" class="card">
                      <div class="card-header">
                          <span class="timestamp">{{ card.lastEdited }}</span>
                          <button @click="editCard(card)">Редактировать</button>
                      </div>
                      <div class="card-content">
                          <h3>{{ card.title }}</h3>
                          <p>{{ card.description }}</p>
                          <p>Дедлайн: {{ card.deadline }}</p>
                      </div>
                      <button @click="moveToCompleted(card)">Переместить в выполненные</button>
                      <p v-if="card.returnReason">Причина возврата: {{ card.returnReason }}</p>
                      <button v-if="!card.returnReason" @click="returnToProgress(card)">Вернуть в работу</button>
                  </div>
              </div>
          </div>

          <div class="column">
              <h2>Выполненные задачи</h2>
              <div class="cards">
                  <!-- Отображение карточек выполненных задач -->
                  <div v-for="card in completedTasks" :key="card.id" class="card">
                      <div class="card-content">
                          <h3 :class="{ 'expired': isDeadlineExpired(card.deadline) }">{{ card.title }}</h3>
                          <p>{{ card.description }}</p>
                          <span class="timestamp">Дата сдачи: {{ card.lastEdited }}</span>
                          <p>Дедлайн: {{ card.deadline }}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </body>
</html>
